@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    background: #E2CE1A;
    display: flex;
    align-items: center;
    justify-content: center;


}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 944px;
    height: 555px;
    border-radius: 16px;
    box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.25);

}

.left {
    background: #36320A;
    width: 304px;
    height: 555px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 16px 0px 0px 16px;

}

#PosImg {
    margin-top: 148px;
    margin-right: 103px;
    margin-left: 44px;
    display: flex;
    justify-content: center;
    align-items: center;

}

h2 {

    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.left>p {
    margin-right: 30px;
    font-size: 20px;
    font-weight: 500;
    word-wrap: break-word;
    font-family: 'Poppins';
    line-height: 35px;
    margin-bottom: 50px;

}

.escrita {
    color: #ffffff;
}

#btn-right {
    margin-top: 20px;
    width: 232px;
    height: 70px;
    border: solid 4px;
    background: #36320A;
    border-radius: 30px;
    font-size: 23px;
    font-weight: 700;
    cursor: pointer;


}

#btn-right:hover {
    background: #ffffff;
    color: black;
}

a {
    margin-top: 10px;
    text-decoration: none;
}

.right {
    width: 640px;
    height: 555px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #FEFAA1;
    border-radius: 0px 16px 16px 0px;
}

#Title-right {
    border: red solid 1px;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 53px;
}

#description {

    color: #000;
    font-family: Poppins;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.textfield {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 24px;

    width: 480px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #E2CE1A;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
input{
    display: flex;
    align-items: center;
    background: #E2CE1A; 
    border: none;
    margin-bottom: 24px;
    width: 480px;
    border: none;
    
    
}